In [14]:
a=10
if a>10:
    print('yes a is greater than 10')

In [3]:
a>10

False

In [4]:
a=10
if a>=10:
    print('yes a is greater than 10')

yes a is greater than 10

In [5]:
a>=10

True

In [6]:
b=20
if b>30:
    print('yes b is greater than 30')
elif b<40:
    print('yes b is lesser than 40')
else :
    print('this is my default')

yes b is lesser than 40

In [7]:
b>30

False

In [8]:
b<40

True

In [9]:
b=20
if b>30:
    print('yes b is greater than 30')
elif b>40:
    print('yes b is lesser than 40')
else :
    print('this is my default')

this is my default

In [10]:
b=20
if b>30:
    print('yes b is greater than 30')
elif b>40:
    print('yes b is lesser than 40')
elif b>100:
    print('b is leer than 100')
else :
    print('this is my default')

this is my default

In [11]:
b=int(input('write value of b'))
if b>30:
    print('yes b is greater than 30')
elif b>40:
    print('yes b is lesser than 40')
else :
    print('this is my default')

write value of b 2

this is my default

In [12]:
n=4
i=1
while i<n:
    print(i)
    i=i+1

1
2
3

In [13]:
m=10
h=1
while h<m:
    print(h)
    h=h+1

1
2
3
4
5
6
7
8
9

In [16]:
n=4
i=1
while i<n:
    print(i)
    i=i+1
else:    
    print('thi is my else')

1
2
3
thi is my else

In [17]:
n=4
i=1
while i<n:
    print(i)
    i=i+1
    if i==3:
        break
else:    
    print('thi is my else')

1
2

In [19]:
s='aditya'
for i in s :
    print(i)

a
d
i
t
y
a

In [24]:
d=[2,3,4,5,True,'aditya',44.4]
for i in d:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'str'>
<class 'float'>

In [26]:
for i in d:
    print(type(i))
else:
    print('sucessful')

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'str'>
<class 'float'>
sucessful

In [27]:
for i in d:
    print(type(i))
    if i==4:
        break
else:
    print('sucessful')

<class 'int'>
<class 'int'>
<class 'int'>

In [28]:
for i in d:
    print(type(i))
    if i==4:
        continue
    print(i)    
else:
    print('sucessful')

<class 'int'>
2
<class 'int'>
3
<class 'int'>
<class 'int'>
5
<class 'bool'>
True
<class 'str'>
aditya
<class 'float'>
44.4
sucessful

In [29]:
range(10)

range(0, 10)

In [ ]:
t